body {
    margin: 0 auto;
    text-align: center;
}

header, footer {
    background-color: #999999;
    min-height: 100px;
    line-height: 100px;
}

.block:first-child {
    background-color: coral;
}

.block:nth-child(2) {
    background-color: blueviolet;
}

.block:nth-child(3) {
    background-color: #cb2c2c;
}

.block:nth-child(4) {
    background-color: aqua;
}

.block:last-child {
    background-color: dodgerblue;
}

p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.content {
    width: inherit;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: blue;
}

.block {
    height: 100px;
    margin: 0 auto;
    flex-grow:1;
}

/*@media all and (max-width: 768px) {}*/
.block {flex-basis: 100%}
.block:first-child {order: 1}
.block:nth-child(2) {order: 2}
.block:nth-child(3) {order: 3}
.block:nth-child(4) {order: 4}
.block:last-child {order: 5}


@media all and (min-width: 768px) {
    .block {flex-basis: 50%}
    .block:first-child {order: 1}
    .block:nth-child(2) {order: 2}
    .block:nth-child(3) {order: 3}
    .block:nth-child(4) {order: 5}
    .block:last-child {order: 4}
}

@media all and (min-width: 1024px) {
    .block {flex-basis: 33%}
    .block:first-child {order: 1}
    .block:nth-child(2) {order: 2}
    .block:nth-child(3) {order: 3}
    .block:nth-child(4) {order: 4}
    .block:last-child {order: 5}
}