body {
    font: 1em Arial;
    margin: 0;
}

.container {
    background: #999;
    display: block;
    height: 200px;
    margin: 80px;
    position: relative;

}

.container-inner {
    background: chocolate;
    margin: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

a {
    background: darkcyan;
    width: 500px;
    display: block;
    height: 100px;
}

#my_id {
    width: 400px;
    overflow: auto;
}