/*New fonts and styling of part 1*/
@font-face {
    font-family: RobotoLight;
    src: url(fonts/RobotoLight.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(fonts/RobotoRegular.ttf);
}

@font-face {
    font-family: Elizabeth_Uni;
    src: url(fonts/Elizabeth_ttUni.ttf);
}

#first {
    font-family: RobotoLight;
}

#second {
    font-family: RobotoRegular;
}

#third {
    font-family: Elizabeth_Uni;
}

#verse {
    border: 1px solid gold;
    border-radius: 50%;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}


/*Styling for part 2*/
div {
    border: 1px solid black;
}

.first-level {
    float: right;
    position: relative;
    height: 400px;
    width: 800px;
    border-radius: 5%;
}

.second-level {
    position: absolute;
    left: 50%;
    margin-top: 100px;
    height: 200px;
    width: 400px;
    border-radius: 6%;
}

.third-level {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    right: 50%;

}

#in_corner {
    position: absolute;
    top: -25%;
    left: 0%;
    width: 100px;
    height: 100px;
    border-radius: 25%;

}
