@font-face {
    font-family: RobotoLight;
    src: url(fonts/RobotoLight.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(fonts/RobotoRegular.ttf);
}

@font-face {
    font-family: Elizabeth_Uni;
    src: url(fonts/Elizabeth_ttUni.ttf);
}

#first {
    font-family: RobotoLight;
}

#second {
    font-family: RobotoRegular;
}

#third {
    font-family: Elizabeth_Uni;
}

#verse {
    border: 1px solid gold;
    border-radius: 50%;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

div {
    border: 1px solid black;
}

.first-level {
    position: relative;
    height: 400px;
    max-width: 800px;
    border-radius: 5%;
}

.second-level {
    position: absolute;
    right: 0px;
    margin: auto 0;
    height: 50%;
    width: 50%;
    border-radius: 5%;
}

.third-level {
    height: 30%;
    width: 20%;
}

#in_corner {
    left: 0px;
    top: 1px;
    width: 20%;
    height: 30%;
    border-radius: 20%;
}